@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Lato", sans-serif;
	color: #fff;
	background: #000;
	margin: 0;
	text-align: center;
	overflow: hidden;
	width: 100%;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
	margin-bottom: .25em;
}

a {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
	-moz-transition: color .15s, opacity .15s, right .5s;
	-webkit-transition: color .15s, opacity .15s, right .5s;
	transition: color .15s, opacity .15s, right .5s;
}

a:hover {
	color: #eaeaea;
}

p {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
}

ul {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: left;
}

#sideMenu {
	position: static;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#searchInput {
	position: absolute;
	right: 3em;
	height: 50px;
	border-radius: 25px;
	border: 0;
	top: 12px;
	width: 200px;
	font-family: "Lato", sans-serif;
	font-size: 14pt;
	padding: 0 10px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: none;
	z-index: 2;
}

#searchInput:focus {
	outline: none;
}

#searchResults {
	pointer-events: none;
	opacity: 0;
	top: 75px;
	height: 100%;
	height: calc(100% - 95px);
	height: -webkit-calc(100% - 95px);
	height: -moz-calc(100% - 95px);
	padding-bottom: 20px;
	width: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	text-align: left;
	overflow-x: hidden;
	z-index: 1;
	font-size: 20pt;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.search-result {
	padding: 0 10% 0 10%;
	margin-top: 20px;
	text-align: center;
	display: none;
}

.result a {
	display: inline;
	width: auto;
	color: #0645ad;
	margin-top: 5px;
}

.result a {
	font-size: 18pt;
}

.result a:after {
	display: block;
	content: "";
	margin-top: 5px;
}

.result a:hover {
	color: #0389D6;
}

#clearContainer {
	position: fixed;
	z-index: 3;
	right: 0;
}

#searchClose {
	position: absolute;
	right: -25px;
	height: 75px;
	width: 25px;
	background: url("close-icon.png") no-repeat;
	background-size: 25px;
	background-position: center;
	z-index: 2;
}

#searchClose:hover {
	opacity: .5;
}

#content {
	width: 100%;
	z-index: 2;
	box-shadow: #000 0px 0px 10px;
	overflow-y: hidden;
}

#header {
	overflow: hidden;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	background: #002541;
}

#header a {
	display: block;
	overflow: hidden;
	width: auto;
	margin: auto;
	background: url("logo.svg") no-repeat scroll;
	background-size: contain;
	background-position: 0 center;
	height: 70px;
	margin-top: 5px;
	max-width: 340px;
}

#sideToggle {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	height: 75px;
	width: 80px;
	background: url("menu-icon.png") no-repeat;
	background-size: 62px;
	background-position: center;
	margin-right: 10px;
	float: left;
	cursor: pointer;
	background-color: #093861;
	-moz-transition: background-color .5s;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

#sideToggle:hover {
	background-color: #066996;
}

#logo {
	padding-top: 5px;
}

#hero {
	width: 100%;
	height: 100%;
	background: url("hero.jpg") no-repeat fixed;
	background-size: cover;
	background-position: center 0;
	padding: 50px 0 125px 0;
	background-color: #419ec8;
}

#hero header {
	vertical-align: middle;
}

#hero h1 {
	font-size: 3.3em;
	margin: 0 0 .5em 0;
}

#hero span {
	font-size: 1.7em;
}

.wiki-nav {
	display: table;
	width: 95%;
	height: 70px;
	margin: 40px auto auto auto;
	text-align: center;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	max-width: 975px;
}

.wiki-nav-row {
	padding: 0;
}

.wiki-nav-item {
	display: table-cell;
	width: 16%;
	height: 70px;
	vertical-align: middle;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-size: 110%;
}

.wiki-nav-item a {
	color: #fff !important;
	text-decoration: none;
	display: block;
	line-height: 4em;
}

.meta {
	-webkit-border-radius: 35px 0 0 35px;
	-moz-border-radius: 35px 0 0 35px;
	border-radius: 35px 0 0 35px;
}

.brickibooks {
	-webkit-border-radius: 0 35px 35px 0;
	-moz-border-radius: 0 35px 35px 0;
	border-radius: 0 35px 35px 0;
}

.meta:hover {
	background: #89959e;
}

.enbricki:hover {
	background: #3d9ec8;
}

.customs:hover {
	background: #ad2b2b;
}

.stories:hover {
	background: #965100;
}

.ideas:hover {
	background: #0175c0;
}

.brickibooks:hover {
	background: #ed8400;
}

#ad {
	margin-top: 35px;
	width: 100%;
	text-align: center;
}

.text-container {
	padding: 75px 8px;
}

.text-container h1 {
	font-size: 3em;
	padding: 0;
	margin: 0;
}

.text-container h2 {
	font-size: 2em;
}

#blue-container {
	background: url("about.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	background-color: #419ec8;
}

#circles {
	padding-top: 50px;
	display: none;
	text-align: justify; /* http://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs */
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 800px;
	margin: 0 auto;
}

.circle-container {
	display: inline-block;
	position: relative;
	text-align: center;
	width: auto;
	height: auto;
	vertical-align: top;
	display: inline-block;
}

.circle-container:last-of-type {
	margin-right: 0;
}

.circle {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	font-size: 75pt;
	line-height: 500px;
	text-align: center;
	background: #ccc;
	line-height: 196px; /* total height (200px) - half of the small text font size (16/2=8) + 2 for padding */
}

.circle-text {
	position: absolute;
	top: 45px; /* half of height (90/2) */
	width: 100%;
}

.circle-number {
	font-size: 65pt;
	line-height: 65pt;
}

.circle-text span {
	text-transform: uppercase;
}

#stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

#red-container {
	background: url("updates.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #fff;
	background-color: #419ec8;
}

.divider {
	padding: 50px;
}

#white-container {
	background: url("contribute.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #000;
	padding-bottom: 0;
	background-color: #419ec8;
}

#white-container a {
	color: #000;
	font-weight: bold;
}

#white-container a:hover {
	color: #777;
}

.contribute-table {
	width: 100%;
	display: table;
}

.contribute-small-box {
	width: 50%;
	display: table-cell;
	position: relative;
}

.contribute-small-box p {
	width: 75%;
}

#social-links {
	padding-top: 1em;
}

#social-links a {
	display: inline-block;
}

.fb-like {
	margin: 0 auto;
	padding-top: 1em;
}

.paypal-form {
	padding-top: 1em;
}

footer {
	padding-bottom: 10px;
	overflow-y: hidden;
	height: 130px;
}

#wiki-nav-bottom {
	margin-top: 35px;
	background: rgb(75, 75, 75);
	background: rgba(75, 75, 75, 0.4);
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center;
}

::-moz-placeholder {
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

@media screen and (max-width: 800px) {
	p {
		width: 100%;
		margin-top: 1em;
	}

	ul {
		width: 95%;
		padding-left: 1em;
	}

	li {
		margin-top: 1em;
	}
	
	/* !importants are needed to override javascript */

	#searchInput {
		left: 12px;
		width: 196px !important;
		top: 12px;
	}

	#searchResults {
		height: auto;
		padding: 0;
		top: 0px;
		width: 240px;
		opacity: 1 !important;
		pointer-events: auto !important;
		background-color: #000;
		padding-top: 62px;
	}

	#clearContainer {
		display: none !important;
	}

	#content {
		position: relative;
	}

	#sideToggle {
		opacity: 1;
		pointer-events: auto;
	}

	#hero,
	#blue-container,
	#red-container,
	#white-container {
		background-attachment: scroll;
		background-position: center 0 !important;
		background-size: cover !important;
	}

	#hero,
	#white-container {
		overflow-x: hidden;
	}

	.contribute-small-box {
		display: block;
		width: 100%;
	}

	#social {
		padding-bottom: 2em;
	}

	#wiki-nav-bottom {
		margin-top: 35px !important;
		opacity: 1 !important;
	}
}

@media screen and (min-width: 800px) {
	#social-links img {
		position: relative;
		bottom: 0;
		-moz-transition: bottom .2s;
		-webkit-transition: bottom .2s;
		transition: bottom .2s;
	}
	
	#social-links a:hover img {
		bottom: 10px;
	}
}

@media screen and (max-width: 730px) {
	#circles {
		display: none !important;
	}
}

@media screen and (max-width: 727px) {
	#ad {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.wiki-nav {
		width: 90%;
	}

	.wiki-nav-item {
		width: 100%;
		display: block;
	}

	.meta {
		-webkit-border-radius: 35px 35px 0 0;
		-moz-border-radius: 35px 35px 0 0;
		border-radius: 35px 35px 0 0;
	}

	.brickibooks {
		-webkit-border-radius: 0 0 35px 35px;
		-moz-border-radius: 0 0 35px 35px;
		border-radius: 0 0 35px 35px;
	}

	footer {
		height: auto;
		padding: 0;
		padding-bottom: 35px;
	}
}

@media screen and (max-width: 537px) {
	#sideToggle {
		position: static;
	}

	#header a {
		margin-left: 0;
		margin-right: 10px;
	}
}

@media screen and (min-aspect-ratio: 1321/561) {
	#red-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1331/561) {
	#blue-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1638/561) {
	#white-container {
		background-size: cover;
	}
}