@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Lato", sans-serif;
	color: #fff;
	background: #000;
	margin: 0;
	text-align: center;
	overflow: hidden;
	width: 100%;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
	margin-bottom: .25em;
}

a {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
	-moz-transition: right .5s;
	-webkit-transition: right .5s;
	transition: right .5s;
}

a:hover {
	color: #eaeaea;
}

p {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
}

ul {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: left;
}

#header {
	overflow: hidden;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	background: #002541;
}

#logo {
	height: 70px;
	margin-top: 5px;
	float: left;
	width: 100%;
	margin-right: -80px;
}

#logoInner {
	margin: auto;
	background: url("logo.svg") no-repeat scroll;
	background-size: contain;
	background-position: 0 center;
	height: 100%;
	width: 340px;
}

#user {
	position: static;
	height: 75px;
	width: 80px;
	float: left;
	background-color: #093861;
}

#user:hover {
	background-color: #066996;
}

#user img {
	width: 55px;
	margin-top: 10px;
	border-radius: 30px;
}

#hero {
	width: 100%;
	height: 100%;
	background: url("hero.jpg") no-repeat fixed;
	background-size: cover;
	background-position: center 0;
	padding: 50px 0 125px 0;
	background-color: #419ec8;
}

#hero header {
	vertical-align: middle;
}

#hero h1 {
	font-size: 3.3em;
	margin: 0 0 .5em 0;
}

#hero span {
	font-size: 1.7em;
}

.wiki-nav {
	display: table;
	width: 95%;
	height: 70px;
	margin: 40px auto auto auto;
	text-align: center;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	max-width: 975px;
}

.wiki-nav-item {
	display: table-cell;
	width: 16%;
	height: 70px;
	vertical-align: middle;
	font-size: 110%;
}

.wiki-nav-item a {
	color: #fff !important;
	text-decoration: none;
	display: block;
	line-height: 4em;
}

.meta {
	-webkit-border-radius: 35px 0 0 35px;
	-moz-border-radius: 35px 0 0 35px;
	border-radius: 35px 0 0 35px;
}

.brickibooks {
	-webkit-border-radius: 0 35px 35px 0;
	-moz-border-radius: 0 35px 35px 0;
	border-radius: 0 35px 35px 0;
}

.meta:hover {
	background: #89959e;
}

.enbricki:hover {
	background: #3d9ec8;
}

.customs:hover {
	background: #ad2b2b;
}

.stories:hover {
	background: #965100;
}

.ideas:hover {
	background: #0175c0;
}

.brickibooks:hover {
	background: #ed8400;
}

#ad {
	margin-top: 35px;
	width: 100%;
	text-align: center;
}

.text-container {
	padding: 75px 8px;
}

.text-container h1 {
	font-size: 3em;
	padding: 0;
	margin: 0;
}

.text-container h2 {
	font-size: 2em;
}

#blue-container {
	background: url("about.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	background-color: #419ec8;
}

#circles {
	padding-top: 50px;
	display: none;
	text-align: justify; /* http://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs */
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 800px;
	margin: 0 auto;
}

.circle-container {
	display: inline-block;
	position: relative;
	text-align: center;
	width: auto;
	height: auto;
	vertical-align: top;
	display: inline-block;
}

.circle {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	font-size: 75pt;
	line-height: 500px;
	text-align: center;
	background: #ccc;
	line-height: 196px; /* total height (200px) - half of the small text font size (16/2=8) + 2 for padding */
}

.circle-text {
	position: absolute;
	top: 45px; /* half of height (90/2) */
	width: 100%;
}

.circle-number {
	font-size: 65pt;
	line-height: 65pt;
}

.circle-text span {
	text-transform: uppercase;
}

#stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

#red-container {
	background: url("updates.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #fff;
	background-color: #419ec8;
}

#white-container {
	background: url("contribute.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #000;
	padding-bottom: 0;
	background-color: #419ec8;
}

#white-container a {
	color: #000;
	font-weight: bold;
}

#white-container a:hover {
	color: #777;
}

.contribute-small-box {
	width: 50%;
	display: table-cell;
	position: relative;
}

.contribute-small-box p {
	width: 75%;
}

#social-links {
	padding-top: 1em;
}

#social-links a {
	display: inline-block;
}

.fb-like {
	margin: 0 auto;
	padding-top: 1em;
}

.paypal-form {
	padding-top: 1em;
}

footer {
	padding-bottom: 10px;
	overflow-y: hidden;
	height: 130px;
}

#wiki-nav-bottom {
	margin-top: 35px;
	background: rgb(75, 75, 75);
	background: rgba(75, 75, 75, 0.4);
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center;
}

::-moz-placeholder {
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}

@media screen and (max-width: 800px) {
	p {
		width: 100%;
		margin-top: 1em;
	}

	ul {
		width: 95%;
		padding-left: 1em;
	}

	li {
		margin-top: 1em;
	}
	
	/* !importants are needed to override javascript */

	#hero,
	#blue-container,
	#red-container,
	#white-container {
		background-attachment: scroll;
		background-position: center 0 !important;
		background-size: cover !important;
	}

	#hero,
	#white-container {
		overflow-x: hidden;
	}

	.contribute-small-box {
		display: block;
		width: 100%;
	}

	#social {
		padding-bottom: 2em;
	}
	
	#social-links a:hover{
		opacity: .5;
	}

	#wiki-nav-bottom {
		margin-top: 35px !important;
		opacity: 1 !important;
	}
}

@media screen and (min-width: 800px) {
	a {
		-moz-transition: color .15s, opacity .15s, right .5s;
		-webkit-transition: color .15s, opacity .15s, right .5s;
		transition: color .15s, opacity .15s, right .5s;
	}
	
	.wiki-nav-item, #user {
		-moz-transition: all .25s;
		-webkit-transition: all .25s;
		transition: all .25s;
	}
	
	#social-links img {
		position: relative;
		bottom: 0;
		-moz-transition: bottom .2s;
		-webkit-transition: bottom .2s;
		transition: bottom .2s;
	}
	
	#social-links a:hover img {
		bottom: 10px;
	}
}

@media screen and (max-width: 730px) {
	#circles {
		display: none !important;
	}
}

@media screen and (max-width: 727px) {
	#ad {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.wiki-nav {
		width: 90%;
	}

	.wiki-nav-item {
		width: 100%;
		display: block;
	}

	.meta {
		-webkit-border-radius: 35px 35px 0 0;
		-moz-border-radius: 35px 35px 0 0;
		border-radius: 35px 35px 0 0;
	}

	.brickibooks {
		-webkit-border-radius: 0 0 35px 35px;
		-moz-border-radius: 0 0 35px 35px;
		border-radius: 0 0 35px 35px;
	}

	footer {
		height: auto;
		padding: 0;
		padding-bottom: 35px;
	}
}

@media screen and (max-width: 537px) {
	#logo {
		float: left;
		width: 100%;
		margin-right: -80px;
	}
	
	#logoInner {
		width: auto;
		margin-right: 90px;
		margin-left: 10px;
	}
}

@media screen and (min-aspect-ratio: 1321/561) {
	#red-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1331/561) {
	#blue-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1638/561) {
	#white-container {
		background-size: cover;
	}
}