@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Lato", sans-serif;
	color: #fff;
	background: #419ec8;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
	margin-bottom: .25em;
}
a {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #eaeaea;
}

p {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
}

ul {
	font-size: 1.2em;
	width: 50%;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: left;
}

#header {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	background: #002541;
}

#logo {
	padding-top: 5px;
}

#hero {
	margin-top: 75px;
	width: 100%;
	height: 100%;
	background: url("hero.jpg") no-repeat fixed;
	background-size: cover;
	background-position: center 0;
	padding: 50px 0 125px 0;
}

#hero header {
	vertical-align: middle;
}

#hero h1 {
	font-size: 3.3em;
	margin: 0 0 .5em 0;
}

#hero span {
	font-size: 1.7em;
}

.wiki-nav {
    display: table;
    width: 90%;
    height: 70px;
    margin: 40px auto auto auto;
    text-align: center;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
	max-width: 800px;
}

.wiki-nav-row {
	padding: 0;
}

.wiki-nav-item {
    display: table-cell;
    width: 18%;
    height: 70px;
    vertical-align: middle;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    font-size: 110%;
}

.wiki-nav-item a {
    color: #fff !important;
    text-decoration: none;
    display: block;
    line-height: 4em;
}

.meta {
    -webkit-border-radius: 35px 0 0 35px;
    -moz-border-radius: 35px 0 0 35px;
    border-radius: 35px 0 0 35px;
}

.cuusoo {
    -webkit-border-radius: 0 35px 35px 0;
    -moz-border-radius: 0 35px 35px 0;
    border-radius: 0 35px 35px 0;
}

.meta:hover {
    background: #89959e;
}

.en:hover {
    background: #3d9ec8;
}

.customs:hover {
    background: #ad2b2b;
}

.stories:hover {
    background: #965100;
}

.cuusoo:hover {
    background: #fac80a;
}

#ad {
	margin-top: 35px;
	width: 100%;
	text-align: center;
}

.text-container {
	padding: 75px 8px;
}

.text-container h1 {
	font-size: 3em;
	padding: 0;
	margin: 0;
}

.text-container h2 {
	font-size: 2em;
}

#blue-container {
	background: url("about.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
}

#circles {
	padding-top: 50px;
	display: none;
}

.circle-container {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-right: 10%;
}

.circle-container:last-of-type {
	margin-right: 0;
}

.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size: 75pt;
    line-height: 500px;
    text-align: center;
    background: #ccc;
    line-height: 196px; /* total height (200px) - half of the small text font size (16/2=8) + 2 for padding */
}

.circle-text {
	position: absolute;
	top: 45px; /* half of height (90/2) */
	width: 100%;
}

.circle-number {
	font-size: 65pt;
	line-height: 65pt;
}

.circle-text span {
	text-transform: uppercase;
}

#red-container {
	background: url("updates.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #fff;
}

.divider {
	padding: 50px;
}

#white-container {
	background: url("contribute.jpg") no-repeat fixed;
	background-position: center 0;
	background-size: auto 150%;
	color: #000;
	padding-bottom: 0;
}

#white-container a {
	color: #000;
	font-weight: bold;
}

#white-container a:hover {
	color: #777;
}
.contribute-table {
	width: 100%;
	display: table;
}

.contribute-small-box {
	width: 50%;
	display: table-cell;
	position: relative;
}

.contribute-small-box p {
	width: 75%;
}

#social-links {
	padding-top: 1em;
}
.fb-like {
	margin: 0 auto;
	padding-top: 1em;
}

.paypal-form {
	padding-top: 1em;
}

footer {
	padding-bottom: 10px;
	overflow-y: hidden;
	height: 130px;
}

#wiki-nav-bottom {
	margin-top: 35px;
	background: rgb(75, 75, 75);
	background: rgba(75, 75, 75, 0.4);
}

#account {
	position: absolute;
	top: 25px;
	font-size: 14pt;
	left: 50px;
}

#account a {
	color: #fff;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

#account a:hover {
	color: #c6c6c6;
}

#searchInput {
	position: absolute;
	right: 3em;
	height: 50px;
	border-radius: 25px;
	border: 0;
	top: 12px;
	width: 200px;
	font-family: "Lato", sans-serif;
	font-size: 14pt;
	padding: 0 10px;
}

#searchInput:focus, #loginSubmit, .loginInput:focus {
	outline: none;
}

#searchClear, #clearOverlay {
	position: absolute;
	font-size: 30pt;
	right: -24px;
	top: 13px;
	color: #fff;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

#clearOverlay {
	top: 77px;
	z-index: 2;
}

#clearContainer {
	position: relative;
}

#searchResults {
	pointer-events: none;
	opacity: 0;
	top: 75px;
	height: 100%;
	height: calc(100% - 95px);
	height: -webkit-calc(100% - 95px);
	height: -moz-calc(100% - 95px);
	padding-bottom: 20px;
	width: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	text-align: left;
	overflow-x: hidden;
	z-index: 1;
	font-size: 20pt;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.search-result {
	padding: 0 10% 0 10%;
	margin-top: 20px;
	text-align: center;
	display: none;
}

.result a, #loginForm a {
	display: inline;
	width: auto;
	color: #0645ad;
	margin-top: 5px;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.result a {
	font-size: 18pt;
}

.result a:after {
	display: block;
	content: "";
	margin-top: 5px;
}

.result a:hover, #loginForm a:hover {
	color: #0389D6;
}

#loginForm {
	opacity: 0;
	pointer-events: none;
	top: 75px;
	height: 100%;
	height: calc(100% - 95px);
	height: -webkit-calc(100% - 95px);
	height: -moz-calc(100% - 95px);
	padding-bottom: 20px;
	width: 100%;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	text-align: center;
	overflow-x: hidden;
	z-index: 1;
	font-size: 20pt;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

#loginForm h1 {
	margin-bottom: 0;
}

#loginForm span {
	font-size: 14pt;
}

#loginUsername {
	margin-top: 20px;
}

.loginInput {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	height: 30px;
	border-radius: 25px;
	border: 0;
	width: 200px;
	font-family: "Lato", sans-serif;
	font-size: 14pt;
	padding: 0 10px;
	height: 40px;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

#loginSubmit {
	margin: 0;
	border: 0;
	background-color: #aaa;
	width: 220px;
	height: 40px;
	border-radius: 25px;
	padding: 0 10px;
	font-size: 14pt;
	font-family: "Lato", sans-serif;
	cursor: pointer;
	margin-top: 15px;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
	margin-bottom: 10px;
}

#loginSubmit:hover {
	background-color: #fff;
}

#loginForm .small-links {
	font-size: 13pt;
	display: block;
}

#loginError {
	opacity: 0;
	pointer-events: none;
	color: #f00;
	display: block;
	margin-top: 5px;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

#sideMenu {
	display: none;
}

::-webkit-input-placeholder {
	text-align:center;
}

:-moz-placeholder {
	text-align:center;  
}

::-moz-placeholder {
	text-align:center;  
}

:-ms-input-placeholder {  
	text-align:center; 
}

@media screen and (max-width: 800px) {
	#hero,
	#white-container {
		overflow-x: hidden;
	}
	
	p {
		width: 100%;
		margin-top: 1em;
	}
	
	ul {
		width: 95%;
		padding-left: 1em;
	}
	
	li {
		margin-top: 1em;
	}
	
	.contribute-small-box {
		display: block;
		width: 100%;
	}
	
	#social {
		padding-bottom: 2em;
	}
	
	#hero,
	#blue-container,
	#red-container,
	#white-container {
		background-attachment: scroll;
	}
	
	#searchInput, #searchClear, #clearContainer, #account {
		display: none;
	}
}

@media screen and (max-width: 788px) {
	#circles {
		display: none;
	}
}

@media screen and (max-width: 727px) {
	#ad {
		display: none;
	}
}

@media screen and (max-width: 515px) {
	.wiki-nav-item {
		width: 100%;
		display: block;
	}
	
	.meta {
		-webkit-border-radius: 35px 35px 0 0;
		-moz-border-radius: 35px 35px 0 0;
   		border-radius: 35px 35px 0 0;
	}
	
	.cuusoo {
   		-webkit-border-radius: 0 0 35px 35px;
   		-moz-border-radius: 0 0 35px 35px;
   		border-radius: 0 0 35px 35px;
	}
	
	footer {
		height: auto;
		padding: 0;
		padding-bottom: 35px;
	}
}

@media screen and (min-aspect-ratio: 1321/561) {
	#red-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1331/561) {
	#blue-container {
		background-size: cover;
	}
}

@media screen and (min-aspect-ratio: 1638/561) {
	#white-container {
		background-size: cover;
	}
}
