/* Exo font for use on Brickimedia */
@font-face {
	font-family: 'Exo';
	src: url('Exo-Regular.eot') format('embedded-opentype'),
		url('Exo-Regular.woff') format('woff'),
		url('Exo-Regular.otf') format('opentype'),
		url('Exo-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Exo';
	src: url('Exo-Regular-Italic.eot') format('embedded-opentype'),
		url('Exo-Regular-Italic.woff') format('woff'),
		url('Exo-Regular-Italic.otf') format('opentype'),
		url('Exo-Regular-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Exo';
	src: url('Exo-Bold.eot') format('embedded-opentype'),
		url('Exo-Bold.woff') format('woff'),
		url('Exo-Bold.otf') format('opentype'),
		url('Exo-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Exo';
	src: url('Exo-Bold-Italic.eot') format('embedded-opentype'),
		url('Exo-Bold-Italic.woff') format('woff'),
		url('Exo-Bold-Italic.otf') format('opentype'),
		url('Exo-Bold-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}
