/* Lato font for use on Brickimedia */
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	src: url('Lato-Reg.woff'),
		 url('Lato-Reg.ttf'),
		 url('Lato-Reg.eot');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: normal;
	src: url('Lato-RegIta.woff'),
		 url('Lato-RegIta.ttf'),
		 url('Lato-RegIta.eot');
}
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	src: url('Lato-Bol.woff'),
		 url('Lato-Bol.ttf'),
		 url('Lato-Bol.eot');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: bold;
	src: url('Lato-BolIta.woff'),
		 url('Lato-BolIta.ttf'),
		 url('Lato-BolIta.eot');
}
