/* TeX font for use on Brickimedia */
@font-face {
	font-family: 'TeX Gyre Adventor';
	font-style: normal;
	font-weight: normal;
	src: url('texgyreadventor-regular.woff'),
		 url('texgyreadventor-regular.otf'),
		 url('texgyreadventor-regular.eot');
}
@font-face {
	font-family: 'TeX Gyre Adventor';
	font-style: italic;
	font-weight: normal;
	src: url('texgyreadventor-italic.woff'),
		 url('texgyreadventor-italic.otf'),
		 url('texgyreadventor-italic.eot');
}
@font-face {
	font-family: 'TeX Gyre Adventor';
	font-style: normal;
	font-weight: bold;
	src: url('texgyreadventor-bold.woff'),
		 url('texgyreadventor-bold.otf'),
		 url('texgyreadventor-bold.eot');
}
@font-face {
	font-family: 'TeX Gyre Adventor';
	font-style: italic;
	font-weight: bold;
	src: url('texgyreadventor-bolditalic.woff'),
		 url('texgyreadventor-bolditalic.otf'),
		 url('texgyreadventor-bolditalic.eot');
}
