/* Lego Icons font for use on Brickimedia */
@font-face {
        font-family: 'lego-icons';
        src: url('lego-icons.eot') format('embedded-opentype'),
                url('lego-icons.woff') format('woff'),
                url('lego-icons.ttf') format('truetype'),
                url('lego-icons.svg#lego-icons') format('svg');
        font-style: normal;
        font-weight: normal;
}
